<h1>Register</h1>
<p>Enter your details below</p>

<%= form_for @user do |f|%>
  <div class="form-group">
    <%= f.label :email%>
    <%= f.email_field :email, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :password%>
    <%= f.password_field :password, class: 'form-control'%>
  </div>
  <button type="submit" class="btn btn-primary btn-block">Register</button>
<% end %>